.nav-ul li {
    display: inline-block;
    padding: 10px;
}

.nav-ul a {
    color: #fff;
    padding: 5px;
    text-decoration: none;
}

.nav-ul {
    padding: 5px;
    margin: 0;
    background-color: skyblue;
}

.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: skyblue;
}

.inputBox {
    display: block;
    margin: 25px;
    padding: 7px;
    width: 300px;
    border: 1px solid orange;
}

.inputBox:hover {
    border: 2px solid darkolivegreen;
}

.register,
.product {
    margin-left: 30%;
}

.login {
    margin-left: 30%;
    margin-top: 100px;
}

.appButton {
    margin: 25px;
    padding: 10px;
    width: 150px;
    background-color: aquamarine;
    border: 1px solid orange;
    cursor: pointer;
    font-weight: bold;
}

.appButton:hover {
    background-color: chocolate;
    color: darkslategray;
}

.nav-right {
    text-align: right;
}

.register h1 {
    background-color: pink;
    width: 125px;
    margin-left: 100px;
    color: brown;
}

.logo {
    width: 60px;
    float: left;
    border-radius: 97px;
    margin-top: 3px;
    margin-left: 20px;
}

.invalid-input {
    color: red;
    margin-top: -20px;
    display: block;
    margin-left: 20px;
}

.product-list {
    text-align: center;
    margin-top: 50px;
}

.product-list ul li {
    display: inline-block;
    border: 1px solid skyblue;
    padding: 5px;
    width: 150px;
}

.product-list ul {
    margin: 0;
}

.search-product-box {
    width: 400px;
    margin: 20px;
    height: 40px;
    border: 1px solid green;
    padding: 20px;
}

.search-product-box:hover {
    border: 2px solid blue;
}

.update-link {
    text-decoration: none;
    border: 1px solid green;
    background-color: darkcyan;
    color: white;
    margin-left: 10px;
    font-weight: bold;
}